# COGS 108 - Data Checkpoint

# Names

- Kenneth Lam
- Bateliel Bassa
- Zhi Liang

<a id='research_question'></a>
# Research Question

We want to see if there is a correlation between happiness and suicide in different countries. We can do this by looking at the different factors of happiness in different countries and comparing their suicide rates.

An example research question would be: "Is there any correlation between countries' metrics in the World Happiness Report, as established by the similarly named organization, and suicide statistics provided by the World Health Organization during the time period of 2005 to 2017?"

# Dataset(s)

- Dataset Name: World Happiness Report 2021
- Link to the dataset: https://www.kaggle.com/datasets/szamil/who-suicide-statistics
- Number of observations: This dataset originally had 43776 observations, however some of them are NaN values so after dropping those we have 36060 observations.

Using this dataset, we will look at different countries and find the amount of suicides in each year relative to the total population and compare that with the happiness levels of that particular country using our second data set. This data set contains information about the year, sex, age, number of suicides, and population of a country.

- Dataset Name: World Happiness Report 2021
- Link to the dataset: https://www.kaggle.com/datasets/ajaypalsinghlo/world-happiness-report-2021
- Number of observations: This includes two datasets, one for years leading up to 2021, and one for just the year 2021. We will be using the former and that dataset has 1949 observations.

We will look at the different happiness categories in this data set and compare it to the suicide rates of each country to see how each factor of happiness affects the number of suicides. This data set contains information about social support, healthy life expectancy, freedom, generosity, and perceptions of corruption of a particular country.

# Setup

In [1]:
import pandas as pd
import numpy as np
import seaborn as sns
import matplotlib.pyplot as plt

# Data Cleaning

Describe your data cleaning steps here.

In [2]:
'''
This data is not very clean as there were multiple rows with no suicide information which defeats the
purpose of the data set.
The rows with no suicide information is not very useful to us so we dropped every row with NaN values 
to make the entire dataset relevant.
We used dropna() to drop all NaN values and reset the index so the countries are ordered by name ascending.
'''
who_suicide = pd.read_csv("who_suicide_statistics.csv")
who_suicide = who_suicide.dropna().reset_index(drop = True)
who_suicide

,country,year,sex,age,suicides_no,population
0,Albania,1987,female,15-24 years,14.0,289700.0
1,Albania,1987,female,25-34 years,4.0,257200.0
2,Albania,1987,female,35-54 years,6.0,278800.0
3,Albania,1987,female,5-14 years,0.0,311000.0
4,Albania,1987,female,55-74 years,0.0,144600.0
...,...,...,...,...,...,...
36055,Virgin Islands (USA),2015,male,25-34 years,2.0,4609.0
36056,Virgin Islands (USA),2015,male,35-54 years,1.0,12516.0
36057,Virgin Islands (USA),2015,male,5-14 years,0.0,7291.0
36058,Virgin Islands (USA),2015,male,55-74 years,0.0,12615.0
36059,Virgin Islands (USA),2015,male,75+ years,0.0,2496.0

In [3]:
'''
This data is very clean as all the data is formatted tidily and everything is labeled well.
We did not have to do anything to get this data set into a usable format since we are able to 
easily navigate through the dataset and get information about the different happiness factors for each country.
No pre-processing steps were required since we did not have to modify our dataset.
'''
world_happiness = pd.read_csv("world-happiness-report.csv")
world_happiness

,Country name,year,Life Ladder,Log GDP per capita,Social support,Healthy life expectancy at birth,Freedom to make life choices,Generosity,Perceptions of corruption,Positive affect,Negative affect
0,Afghanistan,2008,3.724,7.370,0.451,50.80,0.718,0.168,0.882,0.518,0.258
1,Afghanistan,2009,4.402,7.540,0.552,51.20,0.679,0.190,0.850,0.584,0.237
2,Afghanistan,2010,4.758,7.647,0.539,51.60,0.600,0.121,0.707,0.618,0.275
3,Afghanistan,2011,3.832,7.620,0.521,51.92,0.496,0.162,0.731,0.611,0.267
4,Afghanistan,2012,3.783,7.705,0.521,52.24,0.531,0.236,0.776,0.710,0.268
...,...,...,...,...,...,...,...,...,...,...,...
1944,Zimbabwe,2016,3.735,7.984,0.768,54.40,0.733,-0.095,0.724,0.738,0.209
1945,Zimbabwe,2017,3.638,8.016,0.754,55.00,0.753,-0.098,0.751,0.806,0.224
1946,Zimbabwe,2018,3.616,8.049,0.775,55.60,0.763,-0.068,0.844,0.710,0.212
1947,Zimbabwe,2019,2.694,7.950,0.759,56.20,0.632,-0.064,0.831,0.716,0.235
1948,Zimbabwe,2020,3.160,7.829,0.717,56.80,0.643,-0.009,0.789,0.703,0.346